.about {
  opacity: 0;
  transform: translateY(50px);

  animation: fadeInUp 1s ease-in-out forwards;
  animation-fill-mode: both;
}

.user__about {
  font-size: 1.2rem;
  color: #818181;
  margin: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
